<html>
<head>
<title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style1.css') }}">
<body>
  <div class="split left">
    <div class="centered"></div>
  </div>

  <div class="split right">
    <div class="centered">
      <div class="signupbox">
      <img src="/static/images/logo.webp" class="avatar">
        <form>
          <input type="text" name="" placeholder="First Name" width="">
          <input type="text" name="" placeholder="Last Name">
          <input type="text" name="" placeholder="Email Address">
          <input type="password" name="" placeholder="Password">
          <input type="password" name="" placeholder="Confirm Password">
          <input type="checkbox"  name="policy" value="Checked">
          <label for="policy"><font size="1">I Accept The <a href="#">Terms</a> of Use & <a href="#">Privacy</a> Policy</font></label>
          <input type="submit" name="" value="Sign Up">
          <font size="2">Already Have an Account ? &nbsp <a href="#">Login Here</a> </font>
          <br><br>
        </form>
      </div>
    </div>
  </div>
</body>
</head>
</html>